<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yinwang.information.dao.NoticeDao">

	<select id="get" resultType="com.yinwang.information.domain.NoticeDO">
		select `id`,`title`,`for_names`,`for_ids`,`details`,`for_num`,`num`,
		`add_time`,date_format(add_time, '%Y-%m-%d %H:%i:%s') as addTime1,`update_time`,`dalete_flag` 
		from t_notice where id = #{value}
	</select>

	<select id="list" resultType="com.yinwang.information.domain.NoticeDO">
		SELECT
			DISTINCT
			tn.id,
			tn.title 
		FROM `t_notice` tn,t_notice_plot tnp,t_user_plot tup
		where tn.id = tnp.notice_id and tnp.plot_id = tup.plot_id
		<if test="user_id != null">and tup.user_id = #{user_id} </if>
	</select>
	<update id="update" parameterType="com.yinwang.information.domain.NoticeDO">
		update t_notice 
		<set>
			<if test="title != null">`title` = #{title}, </if>
			<if test="forNames != null">`for_names` = #{forNames}, </if>
			<if test="forIds != null">`for_ids` = #{forIds}, </if>
			<if test="details != null">`details` = #{details}, </if>
			<if test="forNum != null">`for_num` = #{forNum}, </if>
			<if test="num != null">`num` = #{num}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="daleteFlag != null">`dalete_flag` = #{daleteFlag}</if>
		</set>
		where id = #{id}
	</update>
</mapper>