<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="/img/logo_bank_gfyh.png" type="image/x-icon"/>
<link rel="stylesheet" href="/css/base.css" type="text/css">
<title>调查问卷</title>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/Font.js"></script>
<script src="/js/plugins/layer/layer.js"></script>
<script type="text/javascript">
	$(function() {
		$("#detailsDD").html($("#details").val());
	});
	function shang(){
		var quid = $("#quid").val();
		var num = $("#num").val();
		var tcpId = $("#tcpId").val();
		window.location.href='/information/questionnaire/QuestionnaireShang?quid='+quid+'&num='+ (parseInt(num)-parseInt(1));
	}
	function xia(){
		var quid = $("#quid").val();
		var num = $("#num").val();
		var tcpId = $("#tcpId").val();
		var isRadio = $("#isRadio").val();
		var con = '';
		// 0：单选；1：多选;2:填写 
		if(isRadio == 0){
			con = $('input[name="testradio"]:checked').val();
		}
		if(isRadio == 1){
			  obj = document.getElementsByName("testradio");
			    check_val = [];
			    for(k in obj){
			        if(obj[k].checked)
			            check_val.push(obj[k].value);
			    }
			   // alert(check_val);
			    con = check_val;
		}
		if(isRadio == 2){
			con = $("#theTxt").val();
		}
		if(con == '' || con==null){
			layer.msg("请填写答案");
			return;
		}
		window.location.href='/information/questionnaire/QuestionnaireXia?quid='+quid+'&tcpId='+tcpId+'&con='+con+'&num='+(parseInt(num)+parseInt(1));
	}
	
	function save() {
		var quid = $("#quid").val();
		var num = $("#num").val();
		var tcpId = $("#tcpId").val();
		var isRadio = $("#isRadio").val();
		var con = '';
		// 0：单选；1：多选;2:填写 
		if(isRadio == 0){
			con = $('input[name="testradio"]:checked').val();
		}
		if(isRadio == 1){
			  obj = document.getElementsByName("testradio");
			    check_val = [];
			    for(k in obj){
			        if(obj[k].checked)
			            check_val.push(obj[k].value);
			    }
			   // alert(check_val);
			    con = check_val;
		}
		if(isRadio == 2){
			con = $("#theTxt").val();
		}
		if(con == ''){
			layer.msg("请填写答案");
			return;
		}
	/* 	$.ajax({
			cache : true,
			type : "POST",
			url : '/information/questionnaire/QuestionnaireSum',
			data :{'quid':quid,'tcpId':tcpId,'con':con},// 你的formid
			async : false,
			error : function(request) {
				layer.msg("Connection error");
			},
			success : function(data) {
				if (data.code == 0) {
					layer.msg("操作成功");
					window.location.href='/index';

				} else {
					layer.msg(data.msg)
				}
			}
		});
		 */
		$.ajax({
			url : '/information/questionnaire/QuestionnaireSum?quid='+quid+'&tcpId='+tcpId+'&con='+con,
			data : {},//{'quid':quid,'tcpId':tcpId,'con':con},
			type :  "POST",
			dataType : this.dataType,
			async : this.async,
			success : function(data) {
				if (data.code == 0) {
					layer.msg("操作成功");
					setTimeout(function(){
						window.location.href='/index';
					}, 2000 )
				} else {
					layer.msg(data.msg)
				}
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {
				layer.msg("error: " + errorThrown);
			}
		});

	}
</script>
</head>
<body>
<div class="Top"><a href="/index"><span></span></a>调查问卷</div>
<div class="wenjuan">
	<input id="isRadio" name="isRadio" th:value="${topic.isRadio}" type="hidden">
	<input id="quid" name="quid" th:value="${topic.questionnaireId}" type="hidden">
	<input id="num" name="num" th:value="${num}" type="hidden">
	<input id="tcpId" name="tcpId" th:value="${topic.id}" type="hidden">
	<input id="details" name="details" th:value="${topic.details}" type="hidden">
	<!-- 0：单选；1：多选;2:填写 -->
	<label th:if="${topic.isRadio == 0}" class="checkbox-inline">
		<dl class="wen font-24 bg-white">
			<dt><span>单选题</span><em class="font-30" th:text="${topic.name}">问答标题</em></dt>
			<dd id="detailsDD"> </dd>
		</dl>
		<div class="xuanze bg-white font-24">
			<h3>请选择</h3>
			<label th:each="con:${listQueAnswer}" class="checkbox-inline">
				<p><input type="radio" name="testradio" th:value="${con.id}"  th:checked="${con.checked == '1'}" th:text="${con.name}" /></p>
			</label>
		</div>			
	</label>
	<label th:if="${topic.isRadio == 1}" class="checkbox-inline">
		<dl class="wen font-24 bg-white">
			<dt><span>多选题</span><em class="font-30" th:text="${topic.name}">问答标题</em></dt>
			<dd id="detailsDD"> </dd>
		</dl>
		<div class="xuanze bg-white font-24">
			<h3>请选择</h3>
			<label th:each="con:${listQueAnswer}" class="checkbox-inline">
				<p><input type="checkbox" name="testradio" th:value="${con.id}" th:checked="${con.checked == '1'}"  th:text="${con.name}" /></p>
			</label>
		</div>			
	</label>
	<label th:if="${topic.isRadio == 2}" class="checkbox-inline">
		<dl class="wen font-24 bg-white">
			<dt><span>问答题</span><em class="font-30" th:text="${topic.name}">问答标题</em></dt>
			<dd id="detailsDD"> </dd>
		</dl>
		<div class="daan bg-white">
			<textarea id="theTxt" maxlength="300" name="theTxt" cols="40" rows="6" placeholder="我的答案" wrap="virtual" th:text="${queAnswer.content}"></textarea>
			<span>作答请在300以内...</span> 
		</div>			
	</label>
	<div class="niu font-26">
		<label th:if="${num < numTo}" >
			<input type="submit" onclick="xia();" value="下一题"/>
		</label>
		<label th:if="${num > 1}" >
			<input type="submit" onclick="shang();"  value="上一题"/>
		</label>
		<label th:if="${num == numTo}" class="checkbox-inline">
			<input type="submit" onclick="save();" value="提 交"/>
		</label>
	</div>
</div>

</body>
</html>

