<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
 							<a href="/files/小区导入模板.xlsx">
							<button type="button" class="btn  btn-primary" >
								<i class="fa fa-plus" aria-hidden="true"></i>下载模板
							</button></a>  
							<button type="file" class="btn  btn-primary" onclick="exportplot()">
								<i class="fa fa-plus" aria-hidden="true"></i>导入小区
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<select id="daleteFlag" name="daleteFlag"  class="form-control" placeholder="11">
								<option value="">全部</option>
								<option value="0">开启</option>
								<option value="1">禁用</option>
							</select>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control" placeholder="小区名称">
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="sys:plot:chakan">
			<script type="text/javascript">
				s_chakan_h = '';
			</script>
		</div>
		<div shiro:hasPermission="sys:plot:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/plot/plot.js"></script>
</body>
</html>